# Discord webhook URL for pre-reservation notifications
# Get this from your Discord channel: Edit Channel → Integrations → Webhooks
DISCORD_WEBHOOK_URL=
COLOCATION_RESERVATION_DISCORD_WEBHOOK=

# Autumn payments keys. Webhooks are in beta as of 04/04/2025, so you have to contact them to use it.
AUTUMN_SECRET_KEY=
AUTUMN_WEBHOOK_SECRET=